.wel{
    color: blue;
    background-color: brown;
}
.app{
    color: blue;
}
.all{
    color: blue;
    border: 3px solid red;
    padding-left: 20px;
    background-color: yellow;
}
.play{
    background-color:greenyellow;
    
}